@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To The SuperHero Database</h1>

        <img src="~/Images/CaptainAmerica.jpg" class="col-sm-6 col-md-8 mainImage" />
        <blockquote class="blockquote text-center">
            <p class="mb-0">I want YOU to watch your language.</p>
            <footer class="blockquote-footer">Captain America</footer>
        </blockquote>
    </div>
