@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The SuperHero Database</h1>

    <img src ="~/Images/CaptainAmerica.jpg" class="col-sm-6 col-md-12"/>
</div>
